<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="employee" class="application.model.Employee" autowire="byType">
        <property name="employeeId" value="101"/>
        <property name="employeeName" value="aayush kc"/>
        <property name="employeeAddress" value="gaushala"/>
<!--        <property name="pancard" ref="pancard"/>   autowire with datatype with pancard-->
    </bean>
    <bean id="pancard" class="application.model.Pancard">
        <property name="panNo" value="JS9SDNM2"/>
        <property name="pancardHolderName" value="GGGG"/>
    </bean>
</beans>